[submodule "minik"]
	path = minik
	url = https://github.com/SystemsGenetics/kube-runner.git
[submodule "minislate"]
	path = minislate
	url = https://github.com/slateci/minislate.git
[submodule "kube-runner"]
	path = kube-runner
	url = https://github.com/SystemsGenetics/kube-runner.git
[submodule "nextflow-api"]
	path = nextflow-api
	url = https://github.com/SciDAS/nextflow-api.git
