process {
   container = 'ebensma/mkdn:latest'
   shell = ['/bin/bash', '-e']
   executor = 'k8s'
}

docker {
   enabled = true
}

k8s {
   storageClaimName = 'minio-pv-claim'
}

weblog {
	enabled = true
	url = 'https://ptsv2.com/t/ethan-places/post'
}


cacheable = true
runName = 'backstabbing-goldberg'
